:root {
  --font-size-small: 1rem; /* Tamanho de fonte menor */
  --font-size-medium: 1.25rem; /* Tamanho de fonte médio */
  --font-size-large: 1.5rem; /* Tamanho de fonte maior */
}

body {
  font-size: var(--font-size-medium);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

.font-size-control {
  position: fixed;
  top: 100px; 
  right: 10px; 
  z-index: 1000; 
  background-color: #fff;
  padding: 10px;
  border: 1px, solid #726f6f;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(87, 86, 86, 0.37); 
}

.font-size-control button {
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem; /* Tamanho do ícone */
  border: none;
  background: none;
}

.navbar, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  flex-wrap: wrap;
}

.rounded-logo {
  border-radius: 50%;
}

.navbar-container, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo img, .footer-logo img {
  max-width: 150px;
}

.navbar-links, .footer-links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-links a, .footer-links a, .footer-legal a {
  text-decoration: none;
  padding: 10px 20px;
  color: inherit;
}

.navbar-links a:hover, .footer-links a:hover, .footer-legal a:hover {
  text-decoration: underline;
}

.navbar button, .footer-social a {
  font-size: 1.5em;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.navbar-light, .footer-light {
  background-color: #2c3e50; 
  color: #ffffff; 
}

.navbar-links a, .footer-links a {
  color: #ffffff; 
}

.navbar button, .footer-social a {
  color: #ffffff;
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212; 
  color: #f8f9fa; 
}

.navbar-dark, .footer-dark {
  background-color: #19888c; 
  color: #0c0c0c; 
}

.navbar-dark .navbar-links a, .footer-dark .footer-links a {
  color: #0c0c0c;
}

.navbar-dark button, .footer-dark .footer-social a {
  color: #0c0c0c; 
}

.theme-toggle-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  color: inherit;
  font-size: 1.2em;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 2em;
  max-width: 90%;
  margin: auto;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.form label {
  font-size: var(--font-size-medium);
  margin-bottom: 5px;
}

.form input,
.form textarea {
  padding: 1em;
  font-size: var(--font-size-small);
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.form input[type="file"] {
  padding: 0;
}

.form .submit-button {
  grid-column: span 2;
  padding: 1em 2em;
  font-size: var(--font-size-medium);
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  justify-self: center;
}

.form .submit-button:hover {
  background-color: #19888c;
}

body.dark-mode .form .submit-button {
  background-color: #19888c;
  color: #0c0c0c;
}

body.dark-mode .form .submit-button:hover {
  background-color: #2c3e50;
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
  .navbar, .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo img, .footer-logo img {
    max-width: 100px;
  }

  .navbar-links, .footer-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a, .footer-links a, .footer-legal a {
    margin: 10px 0;
  }

  .navbar button, .footer-social a {
    margin: 10px 0;
  }

  .font-size-control {
    top: 60px;
    right: 10px;
  }

  .theme-toggle-btn {
    bottom: 10px;
    right: 10px;
    font-size: 1.2em;
  }
}

/* Estilos para telas médias */
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-logo img, .footer-logo img {
    max-width: 120px;
  }

  .navbar-links a, .footer-links a, .footer-legal a {
    margin: 5px;
  }

  .navbar button, .footer-social a {
    margin: 5px;
  }
}

/* Estilos para telas grandes */
@media (min-width: 1024px) {
  .navbar, .footer {
    flex-direction: row;
  }

  .navbar-logo img, .footer-logo img {
    max-width: 150px;
  }

  .navbar-links a, .footer-links a, .footer-legal a {
    margin: 0 10px;
  }

  .navbar button, .footer-social a {
    margin: 0 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}






  
  